html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #444;
    color: #FFF;
    text-align: center;
    overflow: hidden;
}

splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(images/splash.jpg);
    background-size: 100vw 100vh;
    background-color: black;
    opacity: 1.0;
    z-index: 1002;
    -webkit-app-region: no-drag;
}

#c {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    filter: blur(2px);
}

.started #c {
    width: 100%;
    height: 100%;
}

panel {
    position: absolute;
    top: 0vh;
    left: 150vw;
    width: 25%;
    height: 32%;
    border-radius: 0vh;
    border: inset;
    outline: none;
    background: url(images/panel.png);
    background-size: 100% 100%;
    opacity: .9;
    z-index: 1005;
    -webkit-app-region: no-drag;
}

settings {
    position: absolute;
    top: 2vh;
    left: 92vw;
    width: 5vw;
    height: 6vh;
    border-radius: 0vh;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(images/settings.png);
    background-size: 5vw 6vh;
    opacity: 0.9;
    z-index: 1010;
    -webkit-app-region: no-drag;
}
